.link {
    display: flex;
    color: rgb(0, 138, 214);
    -unity-font-style: bold;
    -unity-text-align: upper-center;
    background-color: rgba(202, 202, 202, 0);
    -unity-text-outline-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}
